/* NAVBAR */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600'); /* Få font */
@font-face { /* Importera font family */
	font-family: MontserratExtraBold;
	src: url('font/Montserrat-ExtraBold.ttf');
}


:root{
	--backgroundcolor: black; /* Variabel så att jag kan ändra bakgrundsfärgen ennkelt */
	--secondarycolor: white;
	--thirdcolor:  #222222;
}
.light-theme{
	--backgroundcolor: white;
	--secondarycolor: black;
	--thirdcolor: lightgray;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: var(--backgroundcolor);
	background-image: url(img/blekingelaget_spelarbild_tom2.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

.content {
	height: 200vh;
	background-image: url(//unsplash.it/1000/1000);
	background-color: #333;
	background-blend-mode: multiply;
	background-size: cover;
	display: grid;
	place-items: center;
}

/* 
	########
	#NAVBAR#
	########
	*/

	header {
		background: var(--backgroundcolor);
		text-align: center;
		position: fixed;
		z-index: 999; /*För att se till att den verkligen är högst uppe */
		width: 100%;
		color: var(--secondarycolor);
	}
	/* Hamburger toggle */
	.nav-toggle {
		position: absolute !important;
		top: -9999px !important;
		left: -9999px !important;
	}

	.nav-toggle-label {
		position: absolute; /* Så att den inte påverkas av annat */
		top: 0;
		left: 0;
		margin-left: 1em; /* ha det i samma lineup som allt annat */
		height: 100%;
		display: flex; /* Lifehack */
		align-items: center;
	}

	.nav-toggle-label span,
	.nav-toggle-label span::before,
	.nav-toggle-label span::after {
		display: block;
		background: var(--secondarycolor);
		height: 2px;
		width: 2em;
		border-radius: 2px;
		position: relative;
	}

	.nav-toggle-label span::before,
	.nav-toggle-label span::after {
		content: '';
		position: absolute;
	}

	.nav-toggle-label span::before {
		bottom: 7px;
	}

	.nav-toggle-label span::after {
		top: 7px;
	}
	/* Slut på hamburger toggle */

	nav {
		position: absolute;
		text-align: left;
		top: 100%; /* Höjd relativt till header */
		left: 0; /* Så att jag kontrollera var allt ska vara lättare */
		background: var(--backgroundcolor);
		width: 100%;
		transform: scale(1, 0); /* Så att baren inte syns när boxen inte är ikryssad */
		transform-origin: top; /* Så att transitionen börjar från toppen */
		transition: transform 400ms ease-in-out; /*Så att det blir en dropdown */
	}

	nav ul {
		margin: 0;
		padding: 0;
		list-style: none; /* Inga bullet points */
	}

	nav li { /* Ge lite space på sidorna */
		margin-bottom: 1em; 
		margin-left: 1em;
	}

	nav a {
		color: var(--secondarycolor);
		text-decoration: none; /* Så att länkarna inte får konstig formattering */
		font-size: 1.2rem;
		text-transform: uppercase;
		opacity: 0; /*Tar bort opacityn när transitionen är aktiv */
		transition: opacity 150ms ease-in-out;  /* Så att opacityn återgår till normalt med transition */
	}

	nav a:hover {
		color: var(--secondarycolor);
	}
	#switchmode{
		width: 30px;
		cursor: pointer;
		opacity: 0;
		transition: opacity 150ms ease-in-out; 
	}

	.nav-toggle:checked ~ nav { /* När toggleboxen är ikryssad, används för mobile-toggle | ~ betyder att det är en "sibling" */
	transform: scale(1,1); /*Så att det syns när det är ikryssat */
}
.nav-toggle:checked ~ nav #switchmode {
		opacity: 1;
		width: 30px;
		cursor: pointer;
		transition: opacity 250ms ease-in-out 250ms; 
	}

.nav-toggle:checked ~ nav a {
	display:block;
	opacity: 1; /* Full opacity */
	transition: opacity 250ms ease-in-out 250ms; /* Out transition */
}

@media screen and (min-width: 1355px) { /* För stora skärmar */
	.nav-toggle-label { 
		display: none; /* Tar bort hamburger toggle för fönster med över 800 px bredd */
	}

	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr; /* Sätter upp grid */
	}

	.logo {
		grid-column: 2 / 3; /* Börjar på column 2, och går till 3 */
	}

	nav {
		/* all: unset; /* har inte opera mobile support*/

		/* fix opera support */
		position: relative;
		text-align: left;
		transition: none;
		transform: scale(1,1);
		background: none;
		top: initial;
		left: initial;
		/* end opera support stuff */

		grid-column: 3 / 4;
		display: flex;
		justify-content: flex-end; /* Få det på högersidan */
		align-items: center; /* Centrerat */
	}

	nav ul {
		display: flex;
	}

	nav li {
		margin-left: 3em;
		margin-bottom: 0;
	}

	nav a {
		opacity: 1;
		position: relative;
	}

	nav a::before { /* För animationen */
		content: '';
		display: block;
		height: 5px;
		background: var(--secondarycolor);
		position: absolute;
		bottom: -.4em;
		left: 0;
		right: 0;
		transform: scale(0, 1); /* Tar bort width */
		transition: transform ease-in-out 250ms; /* Ger tillbaka width i transition */
	}

	nav a:hover::before { /* Så att transitionen är på hover */
		transform: scale(1,1);
	}
	#switchmode{
	width: 30px;
	cursor: pointer;
	opacity: 1;
}
}
.navimg{ /* Experiment */
	width: 15%;

}


/*	
	############ 
	#END OF NAV#
	############
*/

/* 
	############
	#   MAIN   #
	############
*/
.gallerycontainer{
	margin-left: auto;
	margin-right: auto;
	padding-top: 55px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	min-width: 300px;
}

.gallery{
	width: 100%;
	padding:20px;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--backgroundcolor);
}
.gallery h1{
	color: var(--secondarycolor);
	text-align: center;
}
.gallery h2{
	color: var(--secondarycolor);
	font-weight: bold;
}
.gallery h5{
	color: var(--secondarycolor);
	font-weight: bold;
}
.gallery p{
	color: var(--secondarycolor);
}
.photos{
	margin: 10px 50px;
}
.photos img{
	width: 230px;
	padding: 5px;
	transition: 1s;
}
.gallery img:hover{
	filter: none;
	transform: scale(1.1);
}

/*
	#################
	#  END OF MAIN  #
	#################
*/

/*
	##############
	#   FOOTER   #
	##############
*/

.footer-wrapper{
	color: var(--secondarycolor);
	width: 90%;
	min-width: 300px;
	margin: 0 auto;
	padding: 80px 8%;
	background: var(--backgroundcolor);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.line{
	margin-left: auto;
	margin-right: auto;
}
.linemobile{
	margin-left: auto;
	margin-right: auto;
	display: none;
}
@media screen and (max-width: 850px){
	.line{
		display: none;
	}
	.linemobile{
		display: block;
	}
}
.socials{
	margin-left: auto;
	margin-right: auto;
	display: flex;
}
.sociallogo{
	width: 50px;
	border: white solid 2px;
	border-radius: 50%;
	margin-left: 5px;
	margin-right: 5px;
}
.copyright{
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

/* 
	###################
	#  END OF FOOTER  #
	###################
*/
