/* NAVBAR */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600'); /* Få font */
@font-face { /* Importera font family */
	font-family: MontserratExtraBold;
	src: url('font/Montserrat-ExtraBold.ttf');
}


:root{
	--backgroundcolor: black; /* Variabel så att jag kan ändra bakgrundsfärgen ennkelt */
	--secondarycolor: white;
	--thirdcolor:  #222222;

}
.light-theme{
	--backgroundcolor: white;
	--secondarycolor: black;
	--thirdcolor: lightgray;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: var(--backgroundcolor);
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

.content {
	height: 200vh;
	background-image: url(//unsplash.it/1000/1000);
	background-color: #333;
	background-blend-mode: multiply;
	background-size: cover;
	display: grid;
	place-items: center;
}

/* 
	########
	#NAVBAR#
	########
	*/

	header {
		background: var(--backgroundcolor);
		text-align: center;
		position: fixed;
		z-index: 999; /*För att se till att den verkligen är högst uppe */
		width: 100%;
		color: var(--secondarycolor);
	}
	/* Hamburger toggle */
	.nav-toggle {
		position: absolute !important;
		top: -9999px !important;
		left: -9999px !important;
	}

	.nav-toggle:focus ~ .nav-toggle-label {
		outline: 3px solid rgba(lightblue, .75);
	}

	.nav-toggle-label {
		position: absolute; /* Så att den inte påverkas av annat */
		top: 0;
		left: 0;
		margin-left: 1em; /* ha det i samma lineup som allt annat */
		height: 100%;
		display: flex; /* Lifehack */
		align-items: center;
	}

	.nav-toggle-label span,
	.nav-toggle-label span::before,
	.nav-toggle-label span::after {
		display: block;
		background: var(--secondarycolor);
		height: 2px;
		width: 2em;
		border-radius: 2px;
		position: relative;
	}

	.nav-toggle-label span::before,
	.nav-toggle-label span::after {
		content: '';
		position: absolute;
	}

	.nav-toggle-label span::before {
		bottom: 7px;
	}

	.nav-toggle-label span::after {
		top: 7px;
	}
	/* Slut på hamburger toggle */

	nav {
		position: absolute;
		text-align: left;
		top: 100%; /* Höjd relativt till header */
		left: 0; /* Så att jag kontrollera var allt ska vara lättare */
		background: var(--backgroundcolor);
		width: 100%;
		transform: scale(1, 0); /* Så att baren inte syns när boxen inte är ikryssad */
		transform-origin: top; /* Så att transitionen börjar från toppen */
		transition: transform 400ms ease-in-out; /*Så att det blir en dropdown */
		color: var(--secondarycolor);
	}

	nav ul {
		margin: 0;
		padding: 0;
		list-style: none; /* Inga bullet points */
	}

	nav li { /* Ge lite space på sidorna */
		margin-bottom: 1em; 
		margin-left: 1em;
	}

	nav a {
		color: var(--secondarycolor);
		text-decoration: none; /* Så att länkarna inte får konstig formattering */
		font-size: 1.2rem;
		text-transform: uppercase;
		opacity: 0; /*Tar bort opacityn när transitionen är aktiv */
		transition: opacity 150ms ease-in-out;  /* Så att opacityn återgår till normalt med transition */
	}

	nav a:hover {
		color: #000; /* Byter färg till svart */
	}

	.nav-toggle:checked ~ nav { /* När toggleboxen är ikryssad, används för mobile-toggle | ~ betyder att det är en "sibling" */
	transform: scale(1,1); /*Så att det syns när det är ikryssat */
}

.nav-toggle:checked ~ nav a {
	display:block;
	opacity: 1; /* Full opacity */
	transition: opacity 250ms ease-in-out 250ms; /* Out transition */
}

@media screen and (min-width: 1355px) { /* För stora skärmar */
	.nav-toggle-label { 
		display: none; /* Tar bort hamburger toggle för fönster med över 800 px bredd */
	}

	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr; /* Sätter upp grid */
	}

	.logo {
		grid-column: 2 / 3; /* Börjar på column 2, och går till 3 */
	}

	nav {
		/* all: unset; /* har inte opera mobile support*/

		/* fix opera support */
		position: relative;
		text-align: left;
		transition: none;
		transform: scale(1,1);
		background: none;
		top: initial;
		left: initial;
		/* end opera support stuff */

		grid-column: 3 / 4;
		display: flex;
		justify-content: flex-end; /* Få det på högersidan */
		align-items: center; /* Centrerat */
	}

	nav ul {
		display: flex;
	}

	nav li {
		margin-left: 3em;
		margin-bottom: 0;
	}

	nav a {
		opacity: 1;
		position: relative;
	}

	nav a::before { /* För animationen */
		content: '';
		display: block;
		height: 5px;
		background: black;
		position: absolute;
		bottom: -.4em;
		left: 0;
		right: 0;
		transform: scale(0, 1); /* Tar bort width */
		transition: transform ease-in-out 250ms; /* Ger tillbaka width i transition */
	}

	nav a:hover::before { /* Så att transitionen är på hover */
		transform: scale(1,1);
	}
}
#switchmode{
	width: 30px;
	cursor: pointer;
}
.navimg{ /* Experiment */
	width: 15%;

}

/*	
	############ 
	#END OF NAV#
	############
	*/

/* 	
	############
	#FRONT PAGE#
	############ 
	*/

	.fixpadding{
		width: 100%;
	}
	.bgesport{
		background-color: var(--backgroundcolor);
		background-image: url("img/esport.jpg");
		background-size: cover;
		height: 1200px;
		width: auto;
		min-width: 300px;
	}
	.bgesport-light{
		background-color: var(--backgroundcolor);
		background-image: url("img/lightbackground.png");
		background-size: cover;
		height: 1200px;
		width: auto;
		min-width: 300px;
	}
	.jumbotron{
		display: flex;
		background: rgba(0,0,0,0.66);
		border-radius: 5px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 100px;
		margin-top: 100px;
		margin-bottom: 30px;
		padding-bottom: 100px;
		color: white;
		width: 100%;
	}
	.blackbg{
		background: black;
	}
	.jumbotronfix{
		display: flex;
		justify-content: center;
	/*padding-top: 200px;
	padding-bottom: 200px; */
	min-width: 300px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.jumbologo{
	min-width: 100px;
	width: 25%;
}
.jumbotronSponsor{
	display: flex;
	justify-content: center;
	padding-bottom: 15px;
	/* grid-template-columns: 1fr auto minmax(320px, 80%) 1fr; /* Sätter upp grid */ 
}
.okatimaLogo{
	grid-column: 1 / 2;
}
.xtrfyLogo{
	grid-column: 2 / 3;
}
.centrumbiografenLogo{
	grid-column: 3 / 4;
}
.DigitalfilmProductionsLogo{
	grid-column: 4 / 5;
}
.sponsorLogo{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100px;
}
@media screen and (max-width: 830px){
	.jumbotronSponsor{
		flex-direction: row;
		flex-wrap: wrap;
	}
}
/* Så att bakgrundsbilden alltid täcker upp hela skärmen */
@media screen and (min-height: 1400px) {
	.bgesport{
		height: 1400px;
	}
}
@media screen and (max-height: 1300px) {
	.bgesport{
		height: 1300px;
	}
}
@media screen and (max-height: 1200px) {
	.bgesport{
		height: 1200px;
	}
}
@media screen and (max-height: 1100px) {
	.bgesport{
		height: 1100px;
	}
}
@media screen and (max-height: 1000px) {
	.bgesport{
		height: 1000px;
	}
}
@media screen and (max-height: 900px) {
	.bgesport{
		height: 900px;
	}
}
@media screen and (max-height: 800px) {
	.bgesport{
		height: 800px;
	}
}
@media screen and (max-height: 700px) {
	.bgesport{
		height: 700px;
	}
}
@media screen and (max-height: 600px) {
	.bgesport{
		height: 600px;
	}
}
@media screen and (max-width: 500px) {
	.bgesport{
		height: auto;
	}
	.jumbotron{
		height: auto;
	}
}

/*	
	##############
 	#END OF FRONT#
 	##############
 	*/

/* 
	########
	#OM OSS#
	########
	*/


	.OmOss{
		height: auto;
		background-color: var(--backgroundcolor);
		display: flex;
		min-width: 300px;
	}
	#OmOss{

	}
	.OmOssContainerLeft{
		background-color: var(--backgroundcolor);
		display: flex;
		flex-direction: column;
		width: 50%;
		height: auto;
	}
	.OmOssContainerRight{
		background-color: var(--backgroundcolor);
		display: flex;
		flex-direction: column;
		width: 50%;
		height: auto;
	}
	.OmOssInfoContainer{
		padding-top: 50px;
		padding-left: 50px;
		padding-right: 20px;
		width: 100%;
		background-color: var(--backgroundcolor);
	}
	.OmOssInfoContainer a{
		color: var(--secondarycolor);
		font-weight: bold;
	}
	.OmOssInfoContainer p{
		color: var(--secondarycolor);
	}
	.OmOssInfoContainer h1{
		font-family: MontserratExtraBold;
		color: var(--secondarycolor);
	}
	.OmOssKvartenImg{
		width: 300px;
		float: right;
		position: relative;
		margin: 20px;
	}
	.OmOssKvartenCaption{
		float: right, bottom;
	}
	.OmOssMapContainer{
		background-color: var(--backgroundcolor);
		width: 100%;
		height: 490px;
		margin-bottom: 20px;
		padding-right: 20px;
		padding-left: 10px;
		padding-top: 20px;
	}
	.OmOssMap{
		width: auto;
		height: 490px;

	}
	.OmOssKalenderContainer{
		height: 460px;
		width: 100%;
		margin-top: 10px;
		padding-bottom: 10px;
		padding-right: 20px;
		padding-left: 10px;
		margin-top: 20px;
	}
	.OmOssKalender{
		width: auto;
		height: 500px;
	}
	.OmOssSocials{
		display: flex;
		justify-content: space-evenly;
		flex: 1 1 auto;
	}
	/* Responsiv design */
	@media screen and (max-width: 850px) {
		.OmOss{
			flex-direction: column;
			height: auto;
		}
		.OmOssContainerRight{
			width: auto;
			height: auto;
		}
		.OmOssContainerLeft{
			width: auto;
			height: auto;
		}
	}

	@media screen and (max-width: 525px) {
		.OmOss{
			flex-direction: column;
			height: auto;
		}
		.OmOssContainerRight{
			width: auto;

		}
		.OmOssContainerLeft{
			width: auto;
			height: auto;
		}
	}
	@media screen and (max-width: 435px) {
		.OmOss{
			flex-direction: column;
			height: auto;
		}
		.OmOssContainerRight{
			width: auto;

		}
		.OmOssContainerLeft{
			width: auto;
			height: auto;
		}
	}
	/* / Responsiv design */

/* 
	###############
	#END OF OM OSS#
	###############
*/

/*
	############
	#   TIPS   #
	############
*/
.tipscontainer{
	display: flex;
	width: auto;
}
.tips{
	padding: 20px;
	margin-top: 30px;
	padding-left: 50px;
	width: auto;
	background-color: var(--thirdcolor);
}
	.tips a{
		color: var(--secondarycolor);
		font-weight: bold;
	}
	.tips p, h4{
		color: var(--secondarycolor);
	}
	.tips h1{
		font-family: MontserratExtraBold;
		color: var(--secondarycolor);
	}

/*
	###################
	#   END OF TIPS   #
	###################
*/

/*
	##############
	#   FOOTER   #
	##############
*/

.footer-wrapper{
	color: var(--secondarycolor);
	width: 80%;
	min-width: 300px;
	margin: 0 auto;
	padding: 80px 8%;
	background: var(--backgroundcolor);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.line{
	margin-left: auto;
	margin-right: auto;
}
.linemobile{
	margin-left: auto;
	margin-right: auto;
	display: none;
}
@media screen and (max-width: 850px){
	.line{
		display: none;
	}
	.linemobile{
		display: block;
	}
}
.socials{
	margin-left: auto;
	margin-right: auto;
	display: flex;
}
.sociallogo{
	width: 50px;
	border: white solid 2px;
	border-radius: 50%;
	margin-left: 5px;
	margin-right: 5px;
}
.copyright{
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

/* 
	###################
	#  END OF FOOTER  #
	###################
*/

